Flask
mysql-connector-python
mysqlclient
bcrypt
cryptography
python-dotenv
gunicorn
Pillow
resend
Flask-Limiter

#Parches de seguridad / Mitigación de reporte Trivy
jaraco.context>=6.1.0
wheel>=0.46.2
setuptools>=75.0.0